body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-image: url(../images/background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    max-width: 600px;
    color: gold;
    background: linear-gradient(rgb(167, 0, 0),rgb(67, 0, 0));
    text-align: center;
    padding: 10px;
    border: 3px solid gold;
    border-radius: 15px;
    top: 80px;
}
.images-container{
    display: flex;
    gap: 4px;
    & .button{
        background: linear-gradient(rgb(133, 133, 133), rgb(86, 86, 86),rgb(187, 186, 186));
        height: 15px;
        width: 15px;
        padding: 10px;
        border: 2px solid white;
        border-radius: 10px;
        color: rgb(234, 233, 233);
        font-weight: bold;
        position: relative;
        top: 180px;
        &:hover{
            cursor: pointer;
            background: linear-gradient(rgb(86,86,86), rgb(133,133,133),rgb(86,86,86));
            color: black;
            border: black solid 3px;
        }
        &:active{
            background: pink;
            color: hotpink;
            border: hotpink solid 3px;
        }
    }
    & img{
        max-width: 500px;
        height: auto;
        border: solid white;
        border-width: 15px 15px 30px 15px;
        border-radius: 15px;
        position: relative;
    }
}

@media (max-width: 680px) {
    h1{
        max-width: 450px;
    }
    .images-container{
        max-width: 400px;
        gap: 1px;
        & .button{
            top: 100px;
            height: 40px;
            display: flex;
            align-items: center;
        }
        & img{
            max-width: 300px;
        }
    }
}